{% capture src_url %}{{ 'product-recommendations.js' | asset_url }}{% endcapture %}
{% render 'atom_script',  src: src_url, priority: 'normal', type: "async" %} 

  <div class="mt-8 max-w-2xl mx-auto pb-16 px-4 sm:pb-24 sm:px-6 lg:max-w-7xl lg:px-8">
    <section  aria-labelledby="related-heading" class="mt-16 sm:mt-24 product-recommendations"
			data-url="{{ routes.product_recommendations_url }}?section_id={{ section.id }}&product_id={{ product.id }}&limit=4">
		{%- if recommendations.performed -%}
        {%- if recommendations.products_count > 0 -%}
            <h2 id="related-heading" class="text-lg font-medium text-headerColor">{{ section.settings.title}}</h2>
            <div class="mt-6 grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
                {%- for product in recommendations.products -%}
                    {%- render 'product-card', product: product -%}
                {%- endfor -%}
            </div>
        {%- endif -%}
		{%- endif -%}
    </section>
	</div>
{% schema %}
{
 "name": "product-recommendations",
 "settings": [
  {
    "type": "text",
    "id": "title",
    "default": "Customers also bought",
    "label": "Title"
  }
 ],
 "presets": [
  {
    "name": "Product recommendations"
  }
 ],
   "templates": ["product"]
} 
{% endschema %}