<!doctype html>
  <html class="no-js full-height" lang="{{ request.locale.iso_code }}">
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <meta name="theme-color" content="">
      <link rel="canonical" href="{{ canonical_url }}">
      <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
      <link rel="stylesheet" href="https://rsms.me/inter/inter.css">

      {%- if settings.favicon != blank -%}
        <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
      {%- endif -%}
  
      <title>{{ shop.name }}</title>
  
      <meta name="description" content="{{ page_description | escape }}">

      {{ content_for_header }}
            {%- form 'storefront_password', class: 'password-form' -%}
              <div class="password-field field{% if form.errors %} password-field--error{% endif %}">
                <input
                  type="password"
                  name="password"
                  id="Password"
                  class="field__input"
                  autocomplete="current-password"
                  {% if form.errors %}
                    aria-invalid="true"
                    aria-describedby="PasswordLoginForm-password-error"
                  {%- endif -%}
                  placeholder="pw"
                >
                {%- if form.errors -%}
                  <div id="PasswordLoginForm-password-error" role="status">
                    <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
                    <span class="form__message">err</span>
                  </div>
                {%- endif -%}
              </div>
              <button name="commit" class="password-button button button--outline">
                submit
              </button>
            {%- endform -%}
      {{ 'theme.css' | asset_url | stylesheet_tag }}
  
      <script>document.documentElement.className = document.documentElement.className.replace('no-js', 'js');</script>
      <script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>
    </head>
  
    <body>

      {% section 'header' %}
  
      <main id="MainContent" class="password-main">
        {{ content_for_layout }}
      </main>
      <footer>
        {% section 'footer' %}
      </footer>
      
    </body>
  </html>
  